# idea Editor
/blog-backcode/myblog/.idea/
/blog-backcode/myblog/target/
/blog-backcode/myblog/src/main/resources/application.yml
/blog-backcode/myblog/src/main/resources/application2.yml
/blog-backcode/myblog/src/main/resources/application0.yml




#vscode Editor
/blog-front/admin/.vscode/
/blog-front/admin/node_modules/
/blog-front/admin/package-lock.json
/blog-front/blog/.vscode/
/blog-front/blog/node_modules/
/blog-front/blog/package-lock.json
/blog-front/admin/dist/
/blog-front/blog/dist/
